#changelog {
    cursor: pointer;
    color: skyblue;
    background-color: #4286f4;
}
html {
  overflow: hidden;
}
img {
    display: none;
}
#chat {
    position: absolute;
    display: inline-block;
    margin-top: -160px;
    width: 500px;
    opacity: 0.8;
}
#chat-input {
    height: 35px;
    margin-top: -15;
}
.upgradedetect {
    width: 128px;
    height: 128px;
    border: none;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflowd: ellipsis;
    background: rgba(255, 255, 255, 0);
    outline: 0;
}
.form-control {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#scoreboard-content {
    background-color: rgba(210, 210, 210, 0.7);
    position: absolute;
    display: inline;
    color: white;
}
#actual-leaders {
    font-size: 20px;
    font-family: 'Ubuntu';
}
h1 {
    margin-top: 5%;
    font-size: 47px;
}
#textInput {
  position: fixed;
  width: 325.867px;
  height: 42.2222px;
  line-height: 38px;
  font-size: 38px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  border-color: transparent;
  font-size: 35px;
  font-weight: bold;
  font-family: "Ubuntu";
  color: black;
}
